@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="normal"] {
        --clr-background-main : hsl(222, 26%, 31%);
        --clr-background-keypad: hsl(223, 31%, 20%);
        --clr-background-screen: hsl(224, 36%, 15%);
        --clr-background-toggle: hsl(223, 31%, 20%);
        --clr-background-key-numbers-operation: hsl(225, 21%, 49%);
        --clr-background-del-res: hsl(30, 25%, 89%);
        --clr-background-calculate: hsl(6, 63%, 50%);
        --clr-text-primary: hsl(0, 0%, 100%);
        --clr-text-secondary: hsl(0, 0%, 0%);
    }
    html[data-theme="light"] {
        --clr-background-main: hsl(0, 0%, 90%);
        --clr-background-keypad: hsl(0, 5%, 81%);
        --clr-background-screen: hsl(0, 0%, 93%);
        --clr-baclground-toggle: hsl(0, 5%, 81%);
        --clr-background-key-numbers-operation: hsl(45, 7%, 89%);
        --clr-background-del-res: hsl(185, 42%, 37%);
        --clr-background-calculate:  hsl(25, 98%, 40%);
        --clr-text-primary: hsl(0, 0%, 0%);
        --clr-text-secondary: hsl(0, 0%, 100%);
    }
    html[data-theme="dark"] {
        --clr-background-main: hsl(268, 75%, 9%);
        --clr-background-keypad: hsl(268, 71%, 12%);
        --clr-background-screen: hsl(268, 71%, 12%);
        --clr-toggle-background: hsl(268, 71%, 12%);
        --clr-baclground-key-numbers-operation: hsl(268, 47%, 21%);
        --clr-baclground-del-res: hsl(281, 89%, 26%);
        --clr-background-calculate: hsl(176, 100%, 44%);
        --clr-text-primary: hsl(52, 100%, 62%);
        --clr-text-secondary: hsl(0, 0%, 100%);
    }
}

@layer components {
    body {
        background-color: var(--clr-background-main);
    }
    #keypad {
        background-color: var(--clr-background-keypad);
    }
    #resultArea {
        background-color: var(--clr-background-screen);
        color: var(--clr-text-primary);
    }
    #themeSwitcher {
        background-color: var(--clr-toggle-background);
    }
    button {
        background-color: var(--clr-background-key-numbers-operation);
    }
    button#res, button#del {
        background-color: var(--clr-background-del-res);
        color: var(--clr-text-secondary);
    }
    button#calculate {
        background-color: var(--clr-background-calculate);
    }
    h1, button, label {
        color: var(--clr-text-primary);
    }
    input[type="radio"] {
        background: var(--clr-toggle-background);
    }
}